<!DOCTYPE html>
<html lang="en">

<head>
  <title>ImJoy Docs</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="description" content="ImJoy Docs">
  <meta name="author" content="ImJoy-Team">
  <link rel="stylesheet" href="/static/vue.css" />
  <link rel="stylesheet" href="/static/style.css" />
</head>

<body>
  <div id="app"></div>
  <div class="loader" id="loading"></div>
  <div id="imjoy-app" style="height: 80px;">
    <modal name="window-modal-dialog" height="500px" style="max-height: 100%; max-width: 100%" :fullscreen="fullscreen"
      :resizable="true" draggable=".drag-handle" :scrollable="true">
      <div v-if="selected_dialog_window" @dblclick="maximizeWindow()" class="navbar-collapse collapse drag-handle"
        style="cursor:move; background-color: #448aff; color: white; text-align: center;">
        <span class="noselect">{{ selected_dialog_window.name}}</span>
        <button @click="closeWindow(selected_dialog_window)" class="noselect dialog-control"
          style="background:#ff0000c4;left:1px;">
          X
        </button>
        <button @click="minimizeWindow()" class="noselect dialog-control" style="background:#00cdff61;left:25px;">
          -
        </button>
        <button @click="maximizeWindow()" class="noselect dialog-control" style="background:#00cdff61;left:45px;">
          {{fullscreen?'=': '+'}}
        </button>
      </div>
      <template v-for="wdialog in dialogWindows">
        <div :key="wdialog.window_id" v-show="wdialog === selected_dialog_window" style="height: calc(100% - 18px);">
          <div :id="wdialog.window_id" style="width: 100%;height: 100%;"></div>
        </div>
      </template>
    </modal>
  </div>
  <script src="/static/docsify-edit-on-github.js"></script>
  <script>
    const repo = 'https://github.com/oeway/imjoy-docs-starter';
    window.$docsify = {
      name: "ImJoy",
      nameLink: '/',
      logo: "https://imjoy.io/static/img/imjoy-logo-black.svg",
      basePath: '/',
      loadSidebar: true,
      coverpage: false,
      auto2top: true,
      autoHeader: false,
      subMaxLevel: 4,
      maxLevel: 5,
      repo: repo,
      homepage: '/README.md',
      search: {
        paths: 'auto',
        placeholder: 'Search',
        noData: 'No Results.',
        depth: 2
      },
      plugins: [
        EditOnGithubPlugin.create(
          repo+'/blob/master/docs/'
        )
      ],
      tabs: {
        persist: true, // default
        sync: true, // default
        theme: 'classic', // default
        tabComments: true, // default
        tabHeadings: true // default
      }
    };
  </script>
  <script src="/static/docsify.min.js"></script>
  <script src="/static/prism-bash.min.js"></script>
  <script src="/static/prism-json.min.js"></script>
  <script src="/static/prism-python.min.js"></script>
  <script src="/static/search.min.js"></script>
  <script src="/static/external-script.min.js"></script>
  <script src="/static/docsify-run-code.js"></script>
  <script src="/static/docsify-copy-code.min.js"></script>
  <script src="/static/docsify-pagination.min.js"></script>
  <script src="/static/docsify-tabs@1.js"></script>
  <script src="/static/zoom-image.min.js"></script>
  <script src="/static/docsify-sidebar-collapse.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.6/require.min.js"></script>
  <script src="/static/imjoy-app.js"></script>
</body>

</html>